.btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: red;
  }
  .box {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: myAnimation 2s infinite alternate;
  }
  
  @keyframes myAnimation {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
  
  
  
  
  
  
  